BINANCE_KEY=OyV3gp3UN3RMk9UX1iEvtlGm7fSaAyBByJsdfr593OHK7xNbmyTfKYVgnYGHYIIT
BINANCE_SECRET=HawLk6zPECZSiLryjaWUhRePvoRRAbux38zrNqvaDl6JrKL9592TXMvjC4Ea11nb


SYMBOL=BTCUSDT

QTY=0.001


WEBHOOK_SECRET=mysecret123
